@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    overflow:auto;
    overflow-x: hidden;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

td{
    text-align: center;
}

h1{
    font-size: 20;
    margin: 10;
    margin-left: 10px;
    justify-self: center;
}

h2{
    font-size: 23px;
    font-weight: 400;
    margin-left: 20px;
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo-nome{
    font-size: 20px;
    display: flex;
}

.botao-login{
    border: none;
    border-radius: 3px;
    padding: 7px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 30px;
    justify-self: baseline;
    transition: background-color 0.1s ease-in;
}

.botao-login:hover{
    cursor: pointer;
    background-color: #02915c;
}




.botao-cad{
    border: none;
    padding: 7px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 30px;
    justify-self: baseline;
    transition: background-color 0.1s ease-in;
    margin-top: 30px;
}

.botao-cad:hover{
    cursor: pointer;
    background-color: #02915c;
}

.botao-cad-home{
    color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, #04AA6D 0%, #00cd60  51%, #02915c  100%);
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-size: 200% auto;
    height:60px;
}

.botao-cad-home:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.campo-cadastroveic{
    padding: 15px;
    padding-left: 5px;
    margin: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #028f4b;
}

.form-cad-title{
    font-size: 25px;
    margin-top: 20px;
}

.formdesc{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: #028f4b;
    margin-top: 30px;
}

.formulario{
    display: flex;
    justify-content: center;
}

.form-cadastro{
    display: flex;
    flex-direction: column;
    width: 50%;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    border: 0 none;
    border-bottom: 2px solid #028f4b;
}

/*login*/

.div_form_log{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #c4ffc5;
    border-radius: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-height: 42%;
    overflow-y: auto;
    padding-bottom: 25px;
}

.form_log{
    width: 75%;
}

.titulo{
    justify-self: center;
    margin: 20px;
    color:#028f4b;
}

.fundo_log{
    width: 100vw;
    height: 100vh;
    background-image:url(img/fundo2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.inp_log{
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #028f4b;
    background-color: #c4ffc5;
    width: 100%;
}

.inp_log:focus{
    outline: 0;
}

.inp_log::placeholder{
    color:#028f4b;
    text-align: left;
}

.alert_log{
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: red;
    line-height: 20px;
}

.erro{
    height: 25px;
    margin-top: 0;
}

.erro:empty{
    visibility: hidden;
}

.erro:not(:empty){
    visibility: visible;
}

/*nav*/

.logo-img{
    height:55px ;
    width:55px ;
    margin-left: 10px;
}

nav{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00bf63;
    padding: 0 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
  }

.logo_texto{
    font-size: 30px;
    color: #0d6d3f;
    font-weight: 500;
    margin: 0
    
}

.nav-right {
    display: flex;
    align-items: center;
  }

a {
    text-decoration: none !important;
    color: inherit !important;
}

.menu-toggle {
    display: none;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #028f4b;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    transition: right 0.3s ease;
    z-index: 10;
}

.menu-toggle:checked + .hamburger + .sidebar {
    right: 0;
}

/*home*/
.home-title{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    color:#028f4b;
    
}

.div-card{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100vw;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    scroll-behavior: smooth;
    scrollbar-color:#00bf63 ;
}

.card-veiculo{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: 320px;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
    background-color: #efefef;
    flex-shrink: 0;
}

.card-cima{
    justify-self: right;
    width: 100%;
    height: 60%;
    border: grey, 2px, solid;
    border-bottom: grey, 3px;
    border-top: none;
    border-left: none;
    border-right: none;

}

.card-baixo{
    padding-top: 15px;
}

.card-valor{
    color:#00bf63;
    font-size: 25px;
}

.card-modelo{
    margin-left: 20px;
}

.card-placa{
    margin-left: 20px;
}

.div-card::-webkit-scrollbar {
    scrollbar-color:#00bf63 ;
}

.botao-alugar{
    border: none;
    border-radius: 3px;
    padding: 7px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 30px;
    justify-self: baseline;
    transition: background-color 0.1s ease-in;
}

.botao-alugar:hover{
    cursor: pointer;
    background-color: #02915c;
}

.botao-deletar{
    border: none;
    border-radius: 3px;
    padding: 7px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 30px;
    justify-self: baseline;
    transition: background-color 0.1s ease-in;
}

.botao-deletar:hover{
    cursor: pointer;
    background-color: #c7030d;
}