@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    overflow: hidden;
}

nav{
    display: flex;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

td{
    text-align: center;
}

h1{
    font-size: 20;
    margin: 10;
    margin-left: 10px;
    justify-self: center;
}

p{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
}

h2{
    font-size: 23px;
    font-weight: 400;
    margin-left: 20px;
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo-nome{
    font-size: 20px;
    display: flex;

}


.botao{
    border: none;
    border-radius: 3px;
    padding: 7px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 30px;
    justify-self: baseline;

}

.botao:hover{
    cursor: pointer;
    background-color: #02915c;
}

.campo-cadastroveic{
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #028f4b;
}


.formdesc{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: #028f4b;
}
.formulario{
    display: flex;
    justify-content: center;
}

.form-cadastro{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.div_form_log{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #c4ffc5;
    border-radius: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 42%;
}

.form_log{
    width: 75%;
}

.titulo{
    justify-self: center;
    margin: 20px;
    color:#028f4b;
}

.fundo_log{
    width: 100vw;
    height: 100vh;
    background-image:url(img/fundo2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inp_log{
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #028f4b;
    background-color: #c4ffc5;
    width: 100%;

}

.inp_log:focus{
    outline: 0;
}

.inp_log::placeholder{
    color:#028f4b;
    text-align: left;
}

.alert_log{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 0;
    color: red;
    
}
